body {
  background-color: #e7e7e7;
  color: #353535;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.signup-h2 {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px;
  color: #bd921d;
}

#signup-button-modal {
  text-align: left;
  padding-left: 1.5em;
  background-color: #ebebeb;
}

#signup-button-modal:hover {
  background-color: rgb(228, 228, 228);
}

.signup-errors {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.signup-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  text-align: center;
}

.signup-li {
  list-style: none;
  color: red;
}

.signup-button {
  background-color: #bd921d;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  width: 60%;
  -webkit-box-shadow: 0 10px 30px 0 rgba(60, 110, 113, 0.4);
  box-shadow: 0 10px 30px 0 rgba(60, 110, 113, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.signup-button:hover {
  background-color: #966f04;
}

.signup-input {
  display: flex;
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 60%;
  height: 3em;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.signup-input:placeholder {
  color: #cccccc;
}
