
.nav-search {
  margin-left: 8%;
}

.search-input {
  position: relative;
  display: flex;
  background-color: #f6f6f6;
  color: #353535;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  height: 2em;
  text-align: left;
  text-decoration: none;
  display: inline-block; font-size: 14px;
  margin: 5px 5px 5px 5px;
  width: 16em;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: thin solid lightgray;
  padding: .5em .5em .5em 1.5em;
  border-radius: 21px;
}

.search-input::placeholder {
  color: #0d0d0d;
}

.search-input:hover {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
}

.search-input:focus {
  outline: none;
}

#search-button {
  position: relative;
  right: 14%;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  border: none;
  color: white;
  background-color: #bd921d;
}
