

.idp-header {
  margin-left: 6.5%;
}

h2 {
  margin: 1em 0 0 0;
  font-weight: 600;
}

.idp-subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.idp-host-subtitle {
  padding: 0 0 2em 0;
  border-bottom: thin solid rgba(0, 0, 0, 0.1);
}

.idp-host-subtitle > p {
  margin: 0;
}

.idp-details-family,
.idp-serviced {
  display: grid;
  align-items: center;
  grid-template-columns: 6% 94%;
}

.idp-details-family {
  padding-top: 4%;
}

.idp-serviced {
  padding-bottom: 4%;
}

.idp-note {
  max-height: 2em;
  width: 1.5em;
  padding-bottom: 3px;
}

.idp-rating {
  font-weight: 600;
  padding: 0 .2em;
}

.idp-num-reviews {
  margin-right: .5em;
  font-weight: 400;
  color:rgba(0, 0, 0, 0.5)
}

.idp-city-state {
  margin-left: .5em;
}

.idp-images-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 5vw);
  grid-gap: 10px;
  margin: 1em 6.5%;
}

.idp-image-div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.idp-image-div:hover > .overlay {
  opacity: .5;
}

.image-0 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}

.idp-image-div.image-0 img {
  border-radius: 20px 0 0 20px;
}

.image-1 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.idp-image-div.image-1 img {
  border-radius: 0 20px 0 0;
}

.idp-image-div.image-2 img {
  border-radius: 0 0 20px 0;
}

.image-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

.idp-image-div img {
  max-width: 100%;
  object-fit: cover;
}

.idp-lower-grid {
  margin: 0 6.5%;
  display: grid;
  grid-template-columns: 4fr 3fr;
  border-bottom: thin solid rgba(0, 0, 0, 0.1);
  padding-bottom: 1em;
}

.idp-date-picker {
  margin-top: 5%;
}

.idp-description {
  padding: 5% 0;
  border-top: thin solid rgba(0, 0, 0, 0.1);
}

img.instrument-icon,
.fa-tools {
  max-height: 22px;
  padding-right: 1em;
}

.idp-check-avail-button {
  z-index: 15;
  margin-right: 5.75%;
}

#open-cal,
#confirm-cal-button {
  background-color: #bd921d;
  border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  width: 350px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#open-cal {
  border-radius: 0 0 20px 20px;
}

#open-cal:hover,
#confirm-cal-button:hover {
  background-color: #966f04;
}

#close-cal,
#confirm-cal {
  display: flex;
  justify-content: center;
}

#close-cal button {
  background: none;
  border: none;
  text-decoration: underline;
  margin: .5em;
}

button:focus {
  outline: none;
}

.calendar-header {
  position: aboslute;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1em;
  border-radius: 20px 20px 0 0;
  border: thin solid rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
}

.price,
.reviews {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price-num {
  font-weight: 600;
  font-size: 25px;
  padding-right: 5px;
  margin: 0 0 6px 0;
}

.cal-note {
  max-height: 2em;
  width: 1.5em;
  padding-bottom: 3px;
}

.cal-rating {
  font-weight: 600;
  padding: 0 .2em;
}

.cal-num-reviews {
  margin-right: .5em;
  color: rgba(0, 0, 0, 0.4);
}

div.calendar-container {
  margin-right: 0 !important;
  margin-left: 3em;
  width: 350px;

}

.react-calendar {
  border: thin solid rgba(0, 0, 0, 0.3);
  padding: 1em;
  border-radius: 0 0 20px 20px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
}

.reviews-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 5% 1em 5%;
}

.reviews-header-container.idp-subtitle {
  font-size: 24px;
  margin: .5em 2%;
  grid-column-start: 1;
  grid-column-end: 3;
}

.review-container {
  margin: 0 5%;
}

.review-container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review-container-icon i {
  font-size: 50px;
}

.far.fa-user-circle {
  margin: 0 .3em 0 0;
}

.review-name {
  font-weight: 600;
  margin: 0;
}

.review-date {
  font-weight: 400;
  font-size: 13px;
  color: grey;
  margin: 0;
}

.review-container-description p {
  margin: 1em 0 3em 0;
  font-size: 14px;
}
