#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  margin: 4em;
  text-align: center;
}

.modal-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-image-container img {
  max-width: 150%;
  max-height: 150%;
  border-radius: 25px;
}
