.home-container {
  background-image: url("../../images/guitar-black.jpg");
  height: 480px;
  background-attachment: local;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.home-header > h1 {
  margin: 0 0 0 5.5%;
  font-size: 100px;
  max-width: 100px;
  color: white;
  line-height: .85em;
}

.home-explore-button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding: .7em;
  margin: 2em 0 0 6%;
  border: thin solid lightgray;
  border-radius: 10px;
}

.home-featured {
  margin-bottom: 4em;
}

.home-featured-title {
  margin: 2% 6%;
  padding: 1% 0;
  font-weight: 700;
  font-size: 28px;
}

.home-featured-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 5%;
}

.feature-item-container {
  width: 100%;
  height: 250px;
  overflow: hidden;
  display: grid;
  margin-bottom: 1em;
  border-radius: 17px;
}

.feature-item-image {
  display: grid;
  object-fit: cover;
  align-items: center;
  background-color: white;
  background-position: center;
}

img.featured-item {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.feature-container {
  object-fit: cover;
  margin: .5em;
}

.feature-item-title {
  margin: 0;
}

.feature-item-subtitle {
  font-size: 14px;
  margin: .2em 0 .5em 0;
}
