.rentals-container {
  display: flex;
  flex-direction: column;
}

.rentals-title {
  margin: 2.5% 7.5%;
}

.rental-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 1em 0 2.7em 0;
  margin: 0 7.5% 1em 7.5%;
  align-items: center;
  border-bottom:thin solid rgba(0, 0, 0, 0.1)
}

.rental-img-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 17px;
}

.rental-img-container {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.rental-name-container {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  font-weight: 600;
  font-size: 20px;
  margin: 0 .5rem;
}

.rental-dates {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0 .5em;
}

.rental-dates-header {
  margin-bottom: .3em;
  font-size: 14px;
  font-weight: 600;
}

.rental-dates-text {
  margin: 0;
  padding-bottom: 2em;
  font-size: 14px;
  color: rgba(0, 0, 0, .5);
}

.rental-add-review-container,
.rental-cancel-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 1em;
}

.rental-add-review-button,
.rental-cancel-button,
.review-submit-button {
  border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: flex;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

.rental-add-review-button,
.review-submit-button {
  background-color: #bd921d;
}

.rental-cancel-button {
  background-color: grey;
}

.rental-add-review-button:hover,
.rental-cancel-button:hover,
.review-submit-button:hover {
  background-color: #966f04;
}

.rental-add-review-container a {
  color: white;
}

.rental-button-disabled {
  padding: 1em 1em;
  border-radius: 5px 5px 5px 5px;
  border: thin solid rgba(0, 0, 0, 0.1);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
}


.rental-add-review-button:hover {
  background-color: #966f04;
}

.review-form-container {
  display: flex;
  justify-content: space-around;
  margin: 0 5%;
}

.review-instrument-title {
  text-align: center;
  padding-bottom: 1.5em;
}


.review-instrument-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 17px;
}

.review-comment-input {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  height: 3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 16em;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  font-family: 'Montserrat', sans-serif;
}

form.review-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ratings-widget {
  margin-top: 1em;
  padding-left: 3em;
}

.review-title {
  text-align: center;
  margin-bottom: 5%;
}

.review-comment-input {
  width: 85%;
  text-align: left;
  padding: 1em 0 1em .7em;
}

.review-comment-div,
.review-submit-button-div {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
