.instrument-browser-container {
  display: flex;
  justify-content: space-between;
}

.instrument-scroll-container {
  width: 50em;
}

.instrument-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 3%;
  height: 600px;
  overflow-y: scroll;
}

.instrument-grid-container::-webkit-scrollbar {
  display: none;
}

.instrument-map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instrument-grid-title h3 {
  font-weight: 600;
  font-size: 30px;
  width: auto;
  margin: 0;
  padding: 10% 0;
}

.instrument-header {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
}

.instrument-image-container {
  max-height: 150px;
}

.instrument-component-container {
  display: grid;
  align-items: center;
  margin: 2% 0;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.instrument-image-div {
  display: flex;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  height: 300px;

}

.instrument-image-div img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;

}
