.instrument-browser-container {
  display: flex;
  justify-content: space-between;
}

.instrument-scroll-container {
  width: 50em;
}

.instrument-grid-container {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  height: 87.5vh;
  overflow-y: scroll;
}

.instrument-grid-none-found {
  width: 300px;
}

.instrument-grid-container::-webkit-scrollbar {
  display: none;
}

.instrument-map-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instrument-grid-title h3 {
  font-weight: 600;
  font-size: 30px;
  width: auto;
  margin: 0;
  padding: 5% 0;
}

.instrument-header {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
}

.instrument-image-container {
  max-height: 150px;
}

.instrument-component-container {
  display: grid;
  align-items: center;
  margin: 0 5% 0 0;
  grid-gap: 5px;
  grid-template-columns: 1fr .5fr 1fr .5fr;
  grid-template-rows: repeat(4, 1fr);
  height: 200px;
  padding: 1em 0 1em 0;
  border-top: thin solid rgba(0, 0, 0, 0.1);
}

.instrument-image-div {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}

.instrument-image-div img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 17px;
}

.instrument-title {
  font-weight: 600;
  margin: .5em 1em 1em 1em;
  padding-bottom: .5em;
  border-bottom: thin solid rgba(0, 0, 0, 0.1);
}

.instrument-details-family,
.instrument-ratings-reviews {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column-start: 3;
  font-size: 14px;
  margin-left: 1em;
}

.instrument-details-family p {
  margin: 0;
}

.instrument-details-family {
  padding-bottom: 3em;
}

.instrument-ratings-reviews {
  grid-row-start: 4;
}

.instrument-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  grid-row-start: 4;
  grid-column-start: 4;
}

.instrument-price-num {
  font-weight: 600;
  font-size: 18px;
  padding-right: .3em;
}

.loader {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.loader-spinner {
  border: 10px solid #f3f3f3;
  border-top: 10px solid grey;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin .75s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
