.instrument-browser-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
}

.instrument-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 2;
}

.instrument-map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 5;
  grid-row-start: 1;
}
