nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d6d6d6;
}

.guitar-icon {
  font-size: 1.5rem;
  color: #3c6e71;
  padding: 16px;
}

.nav-ul {
  padding: 0;
}

.nav-li {
  list-style: none;
}

.nav-li a {
  padding: .5em;
}
