nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
  width: 100%;
  height: 80px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);
}

.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 16px 20px 16px 60%;
  font-size: 18px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  object-fit: contain;
}

.instrument-match {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 0;
}

.nav-logo:hover {
  color: #bd921d;
}

.nav-logo img {
  height: 30px;
}

a:visited,
a:active,
a:link {
  color: #353535;
  text-decoration: none;
}

.guitar-icon {
  font-size: 30px;
  color: #bd921d;
}

.nav-links {
  margin-right: 5%;
}

.nav-ul {
  padding: 0 1em;
}

.nav-li {
  list-style: none;
}

.nav-li-dropdown.myrentals:hover {
  background-color: rgb(228, 228, 228);
}

a.loggedout-dropdown {
  padding: 1em;
  font-size: 14px;
  text-decoration: none;
}


.user-menu-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  border: thin solid lightgray;
  padding: .5em;
  border-radius: 21px;
  height: 42px;
  width: 80px;
  color: #353535;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.user-menu-buttons:hover {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.3);
}

.user-menu-buttons:focus {
  outline: none;
}

.fa-bars {
  margin-left: .1em;
  margin-top: .2em;
}

.fa-user-circle {
  font-size: 24px;
  margin-left: .5em;
}
.profile-dropdown {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  position: absolute;
  z-index: 100;
  right: 5.5%;
  color: black;
  padding: 1em 0;
  margin: .8em .8em;
  width: 200px;
  text-align: left;
  border-radius: 5%;
  box-shadow: -10px 0 40px 1px rgba(0,0,0,0.25);
}

.profile-dropdown button {
  font-size: 14px;
  padding: .7em 0;
  border: none;
}

.profile-dropdown li {
  list-style: none;
  font-size: 14px;
  padding: .7em 1em;
  border: none;
}

.logout-button {
  background-color: #bd921d;
  border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  width: 60%;
  /* -webkit-box-shadow: 0 10px 30px 0 rgba(60, 110, 113, 0.4);
  box-shadow: 0 10px 30px 0 rgba(60, 110, 113, 0.4); */
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logout-button:hover {
  background-color: #966f04;
}

.line {
  padding-top: .5em;
  border-bottom: .1px solid rgba(158, 158, 158, 0.5);
}

li.logout-button-container {
  padding-top: 1.5em;
}

li#close-menu {
  text-align: right;
  padding: 0;
}
li#close-menu button {
  padding: .3em .7em;
  background-color: #ebebeb;
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  border: thin solid rgba(158, 158, 158, 0.5);
  box-shadow: 0 10px 30px 0 rgba(60, 110, 113, 0.4);
  transition: all 0.3s ease-in-out;
}

li#close-menu button:hover {
  background-color: #bd921d;
  color: white;
}

.footer-container {
  position: absolute;
  width: 100%;

}

footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ebebeb;
  width: 100%;
  height: 150px;
  border: thin solid rgba(158, 158, 158, 0.5);
}

.about-me-container {
  margin-left: 7%;
}

.external-links {
  font-size: 30px;
  margin: 2% 7%;
  display: flex;

}

.fab.fa-linkedin,
.fab.fa-github {
  color: grey;
  padding: 10px;
}
