nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
  width: 100%;
}

.nav-logo {
  margin: 16px 20px 16px 60px;
  font-size: 32px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav-logo:hover {
  color: #BD632F;
}

a:visited,
a:active {
  color: #353535;
}

.guitar-icon {
  font-size: 30px;
  color: #BD632F;
}

.nav-links {
  margin-right: 3%;
}

.nav-ul {
  padding: 0 1em;
}

.nav-li {
  list-style: none;
}

.nav-li-dropdown {
  margin: 0 1em;
}

a.loggedout-dropdown {
  padding: 1em;
  font-size: 14px;
  text-decoration: none;
}


.user-menu-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  border: thin solid lightgray;
  padding: .5em;
  border-radius: 21px;
  height: 42px;
  width: 80px;
  color: #353535;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.user-menu-buttons:hover {
  box-shadow: 0 2px 5px 0  rgba(0,0,0,0.3);
}

.user-menu-buttons:focus {
  outline: none;
}

.fa-bars {
  margin-left: .1em;
  margin-top: .2em;
}

.fa-user-circle {
  font-size: 24px;
  margin-left: .5em;
}
.profile-dropdown {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  position: absolute;
  right: 3.5%;
  color: black;
  padding: 1em 0;
  margin: .4em .8em;
  width: 200px;
  text-align: left;
  border-radius: 5%;
  box-shadow: -10px -5px 40px 1px rgba(0,0,0,0.2);
}

.profile-dropdown button {
  font-size: 14px;
  padding: .7em 0;
  border: none;
}

.profile-dropdown li {
  list-style: none;
  font-size: 14px;
  padding: .7em 0;
  border: none;
}

.logout-button-container {
  margin: 0 1em;
}

.logout-button {
  background-color: #BD632F;
  border: none;
  color: white;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  width: 60%;
  -webkit-box-shadow: 0 10px 30px 0 rgba(60, 110, 113, 0.4);
  box-shadow: 0 10px 30px 0 rgba(60, 110, 113, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logout-button:hover {
  background-color: #BD632F;
}

.line {
  padding-top: .5em;
  border-bottom: .1px solid rgba(158, 158, 158, 0.5);
}

li.logout-button-container {
  padding-top: 1.5em;
}

li#close-menu {
  text-align: right;
  padding: 0;
}
li#close-menu button {
  padding: .3em .7em;
  background-color: #ebebeb;
  font-size: 12px;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  border: thin solid rgba(158, 158, 158, 0.5);
  box-shadow: 0 10px 30px 0 rgba(60, 110, 113, 0.4);
  transition: all 0.3s ease-in-out;
}

li#close-menu button:hover {
  background-color: #BD632F;
  color: white;
}
