nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  margin-bottom: 4rem;
  width: 100%;
}

.nav-logo {
  margin: 16px;
}

.guitar-icon {
  font-size: 30px;
  color: #3c6e71;
}

.nav-ul {
  padding: 0;
}

.nav-li {
  list-style: none;
}

.nav-li a {
  padding: .5em;
}

.user-menu-button {
  border: none;
}
